*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f6f7;
    color: rgb(92, 6, 6);
    line-height: 1.6;
}

a {
    text-decoration: upperline;
}

header {
    background: #222;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 18px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: wheat;
    font-size: 28px;
}

.logo-span {
    color:#05345f;

}
.nav-links {
    list-style: none;

    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00bcd4;
          
}

.home {
    min-height: 90vh;
    max-width: 1200px;
    margin: auto;
    padding: 60px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background-color: burlywood;
}

.home-content {
    max-width: 600px;
}

.hello {
    color: #f55252;
    font-size: 20px;
    font-weight: bold;
}

.home h1 {
    font-size: 55px;
    color: #111827;
    margin: 5px 0;
}

.home h2 {
    color: #fc4a4a;
    font-size: 20px;
    margin-bottom: 20px;
}

.home-content {
    font-size: 18px;
    color: #251919;
}

.buttons {
    margin-top: 30px;
}

.btn {
    display: inline-block;
    background: #00a8bd;
    color: white;
    padding: 12px 25px;
    border-radius: 6px;
    margin-right: 10px;
    transition: 0.3s;
}

.btn:hover {
    background: #141413;
    transform: translateY(-3px);
}

.btn-second {
    background: #111827;
}

.btn.second:hover {
    background: #273449;
}


.profile img {
    width: 320px;
    height: 320px;
    object-fit: cover;

    border-radius: 50%;

    border: 8px solid #0b0c0c;

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.section {
    max-width: 1200px;
    margin: auto;
    padding: 80px 30px;
}

.section-title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
    color: #111827;
}

.section-title:after {
    content: "";
    display: block;

    width: 70px;
    height: 4px;

    background: #411beb;

    margin: 10px auto;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 60px;
    background-color: #f7a3a3;
}

.about-image img {
    width: 280px;
    height: 280px;

    object-fit: cover;

    border-radius: 20px;
}

.about-content {
    flex: 1;
}

.about-content h3 {
    font-size: 28px;
    margin-bottom: 15px;
}

.about-content p {
    margin-bottom: 12px;
    color: #070707;
}

.info {
    margin-top: 20px;
}

.info p {
    margin: 5px 0;
}

.skills.section {
    background: rgb(245,227, 64);
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.skill-card {
    background: rgb(128, 240, 203);
    padding: 25px;
    border-radius: 10px;

    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.skill-card h3 {
    margin-bottom: 10px;
}

.progress {
    width: 100%;
    height: 25px;

    background: #e21fd2;

    border-radius: 20px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;

    background: #00a8bd;
    color: rgb(22, 21, 22);

    text-align: right;
    padding-right: 10px;

    line-height: 25px;
    font-size: 20px;
}

.html {
    width: 90%;
}

.css {
    width: 85%;
}

.js {
    width: 70%;
}

.python {
    width: 76%;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.project-card {
    background: rgb(233, 209, 71);

    padding: 30px;

    text-align: center;

    border-radius: 12px;

    box-shadow: 0 5px 28px rgba(0,0,0,0.3);

    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-icon {
    font-size: 45px;
    margin-bottom: 15px;
}

.project-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.project-card p {
    color: #01060c89;
    margin-bottom: 20px;
}

.project-card a {
    color: #4e0c03;
    font-weight: bold;
}

.education-section {
    background: rgb(230, 116, 173);
}

.education-container {
    display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 3opx;
}

.education-card {
    background: white;
    padding: 30px;
    border-left: 5px solid #0a0a0a;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.education-card h3 {
    margin-bottom: 10px;
}

.education-card p {
    color: #555;
}

.education-card span {
    color: #00a8bd;
    font-weight: bold;
}

.contact-container {
    display: flex;
    gap: 50px;
}

.contact-info,
.contact-form {
    flex: 1;
    background-color: #05345f;
}

.contact-info h3 {
    font-size: 28px;
    margin-bottom: 15px;
}

.contact-info p {
    margin-bottom: 15px;
    color: #555;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 14px;
    border: 1px solid #680b0b;
    border-radius: 6px;
    font-size: 15px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #00bcd4;
}

.contact-form button {
    padding: 14px;
    border: none;
    background: #c27ceb;
    color: rgb(27, 6, 87);
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #007f8f;
}

footer {
    background: #133135;
    color: white;
    text-align: center;
    padding: 35px 20px;
}

footer h3 {
    font-size: 25px;
    margin-bottom: 15px;
}

footer p {
    color: #ccc;
}

.social {
    margin-top: 18px;
}

.social a {
    color: #00bcd4;
    margin: 0 10px;
}
.social a:hover {
    color: white;
}

@media (max-width: 1000px) {
    .nav-links {
        gap: 14px;
    }

    .home {
        flex-direction: column;
        text-align: center;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .project-container {
        grid-template-columns: 1fr 1fr;
    }

    .project-container {
        grid-template-columns: 1fr 1fr;
    }

    .education-container {
        grid-template-columns: 1fr 1fr;
    }

    .contact-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        gap: 17px;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
    }

    .home h1 {
        font-size: 40px;
    }

    .home h2 {
        font-size: 22px;
    }

    .profile img {
        width: 230px;
        height: 23opx;
    }

    .skills-container,
    .project-container,
    .education-container {
        grid-template-columns: 1fr;
    }

    .section {
        padding: 60px 20px;
    }
}










































